
<form class="reg_form" [formGroup]="regForm" (ngSubmit)="save()">
    <div class="main" style=" width:100%">
        <h1 class="signUp_head" >Add New User</h1><br>



        <div class="model">
            <label class="label">Name</label><label class="require">*</label><br>
            <input type="text" class="text"  placeholder="Enter Name" formControlName="name"><br>
            <div class = "error_class" *ngIf="submitted && regForm.get('name')?.errors"> Please Enter Your Name
                <div class="validation"
                    *ngIf="(regForm.get('name')?.dirty || regForm.get('name')?.touched) && regForm.get('name')?.invalid">
                   </div>
            </div><br>


            <Label class="label">Email</Label><label class="require">*</label><br>
            <input type="email" class="text" placeholder="Enter Email" formControlName="email"><br>
            <div class = "error_class" *ngIf="submitted && regForm.get('email')?.errors">Please Enter Your email
                <div class="validation"
                *ngIf="(regForm.get('email')?.dirty || regForm.get('email')?.touched) && regForm.get('email')?.invalid">
                </div>
            </div><br>


            <label class="label">Phone Number</label><label class="require">*</label><br>
            <input type="number" class="text" [maxlength]="12" placeholder="Enter your Phone Number"
                formControlName="phoneNumber"><br>
                <div class = "error_class" *ngIf="submitted && regForm.get('phoneNumber')?.errors">Please Enter Your Phone Number
                    <div class="validation"
                *ngIf="(regForm.get('phoneNumber')?.dirty || regForm.get('phoneNumber')?.touched) && regForm.get('phoneNumber')?.invalid">
                </div>
                </div><br>


            <Label class="label">Password</Label><label class="require">*</label><br>
            <input type="password" class="text"  placeholder="Enter Password" formControlName="password"><br>
            <div class = "error_class" *ngIf="submitted && regForm.get('password')?.errors">Please Enter Your Password
                <div class="validation"
                *ngIf="(regForm.get('password')?.dirty || regForm.get('password')?.touched) && regForm.get('password')?.invalid">
                </div>
            </div>
            <br><br>

            <Label class="label">Country</Label><label class="require">*</label><br>
            <select
            class="form-select mb-3"
            aria-label="Default select example"
            (change)="getState($event)"
            name="CountryOfOrigin"
          >
            <option  selected value="">Select your Country</option>
            <option *ngFor="let item of countries" [value]="item.isoCode">
              {{ item.name }}
            </option>
          </select>

          <br>


          <Label class="label">State</Label><label class="require">*</label><br>
          <select
          class="form-select" (change)="getcity($event)" [formControl]="statee">
          <option value="">select your state</option>
          <option *ngFor="let item of state" [value]="item.isoCode">
            {{ item.name }}
          </option>
        </select>

        <br>


        <Label class="label">City</Label><label class="require">*</label><br>
        <select class="form-select" formControlName="city">
            <option value="">select your city</option>
            <option *ngFor="let item of city" [value]="item.name">
              {{ item.name }}
            </option>
        </select><br><br>



            <button type="submit" class="signUp-btn" >Sign up</button>
        </div>



    </div>
</form>



{{massage}}